.fira-sans-style {
    font-family: "Fira Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 160px;
    font-size: 32px;
    font-weight: bold;
}

.sign-in-btn{
    font-weight: 500;
    font-size: 18px;
    padding: 18px 35px;
    border-radius: 8px;
    color: rgba(0, 106, 80, 1);
    border-color: rgba(0, 106, 80, 1);
}