body{
    background-color:rgba(241, 241, 243, 1);
}

.fira-sans-style {
    font-family: "Fira Sans", sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 160px;
    font-size: 32px;
    font-weight: bold;
}

.sign-in-btn{
    font-weight:bold;
    font-size: 18px;
    padding: 18px 35px;
    border-radius: 8px;
    color: rgba(0, 106, 80, 1);
    border: 2px solid rgba(0, 106, 80, 1);
    background: none;
    cursor: pointer;
  
}
/* banner */
.banner{
    max-width: 1280px;
    height: 560px;
    background-color:rgba(198, 228, 214, 1) ;
    border-radius: 24px ;
    padding: 20px 160px 80px 160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    padding: 0 40px;
    max-width: 50%;
}
.banner-title{
font-size: 24px;
color: rgba(14, 14, 14, 0.5);

}
.banner-text{
    font-size: 56px;
    font-weight: bold;
}
.explore-btn{
    font-size: 18px;
    padding: 18px 35px;
    border-radius: 8px;
    color:white;
    background-color: rgba(0, 106, 80, 1);
    border: none;
    cursor: pointer;

}
.banner-image {
    width: 474px;
    height: 400px;
    margin:80px 64px 80px 59px;
}
.banner-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  /* shared-style */


.shared-title1{
    font-size: 40px;
    font-weight: bold;
  }
  .all-containers{
    margin: 80px 160px;
  } 
  
  button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
  }
  
  /* pillars & Vision of Future */

  .pillars-container, .vision-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

  }
  .pillar{
    max-width: 302px;
    height: 244px;
    background-color: rgba(255, 255, 255, 1);
    border-radius:16px ;
    padding: 24px 24px;
  }
  .pillar-title{
    font-size: 20px;
    font-weight: bold;
  }
  .pillar-img{
    max-width: 64px;
    height: 64px;
  }
  .pillar-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom:32px ;
    margin-top: 24px;
  }
  .vission{
    max-width: 410px;
    height: 325px;
    border-radius:16px ;
    padding: 24px 24px;
  }
  .v1{
    background-color:rgba(84, 144, 245, 0.2) ;

  }
.v2{
  background-color:rgba(198, 228, 214, 1) ;

}
.v3{
  background-color:rgba(247, 235, 207, 1) ;

}
.v-btn1, .v-btn2, .v-btn3 {
  max-width: 122px;
  border-radius: 8px;
  cursor: pointer;
  padding: 20px 11px ;
  border: none;
  color: white;
}
.v-btn1{
  background-color:rgba(84, 144, 245, 1) ;
}
.v-btn2{
  background-color:rgba(9, 161, 92, 1) ;
}
.v-btn3{
  background-color:rgba(255, 194, 57, 1) ;
}

/* quotes */
.quotes{
  background-color: rgba(255, 255, 255, 1);
  padding: 48px 24px;
  border-radius: 16px;
  background-image: url(assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position-x: 24px;
  background-position-y: 25px;
}
/* Your Opinion Matters  */
.opinion-container{
  background-color: white;
  border-radius: 16px;
  padding: 32px;
}
table {
  height: 345px ;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}
th{  
  background-color: #cce3d1;
  text-align: left;
  font-size: 20px;
  padding: 24px 24px;
  height: 72px;
  font-weight: bold;
}
 td {
  font-size: 16px;
  color: rgba(14, 14, 14, 1);
  text-align: left;
  padding: 24px 24px;
  border: 1px solid #ddd ;
  height: 92px;
}
.opinion-select{
  text-align: right;
}
select {    
  text-align: center;
  width: 100%;
  padding: 14px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #e4f2e8;
  font-size: 14px;
  cursor: pointer;
}

